<head>
<title>TinyApp</title>
</head>

<body>
<% if (user) { %>
  <% if (user.id) { %>
   <b>Currently logged in</b> [<%= user.id %>] - <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/register">Register</a> - <a href="/login">Login</a>
  <%  }%>
  <% } else { %>
  <a href="/register">Register</a> - <a href="/login">Login</a>
<% } %><p>