<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header.ejs %>
</head>
<body>

<table border=1><tr><td>ShortURL</td><td>URL</td><td></td></tr>

  <tr><td>
  <% if (shortURL) {  %>
  <%= shortURL %>
  <% } %>
  </td>
  <td>
      <form action="/urls/:id" method="POST" style="margin:15px;">
      <!--<label for="longURL">Enter a URL:</label>-->
      <input id="shortURL" type="hidden" name="shortURL" value="<%= shortURL %>">
      <input id="longURL" type="text" name="longURL" style="width: 300px" value="<% for (var url in longURL) { %><%= longURL[url] %><% } %>"></td><td>
      <% if(user.id == userID)  {%>
      <input type="submit" value="Update">
      <% }  else { %>
      [Login to edit]
      <% }%>
    </form>
  </td></tr>

</table>

</body>
</html>