<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header.ejs %>
</head>

<body>

<table border=1>

  <% for (var key in urls) { %>
    <% var obj = urls[key]; %>
      <%- "<tr><td>" + urls[key] + "</td><td>" + key + "</td></tr>"; %>

  <% } %>
</table>

</body>
</html>